{% extends 'basic.html' %}

{% block title%} About Us {% endblock %}
{% block body %}

<h1 class="my-5 mx-4">Real Automation Engineering Solutions</h1>
  <p class="text-justify mx-5">Real Atoumation Engineering Solutions deal all kind of calibration services,lab equipment and weight scale sales and service. All Equipment Sales & Services etc.<br>We can send our team for "on site calobration" at your facility We customize our services to meet your need for fast addorable and convinient callibration.</p>
  <ul>
    <li>
      Mininal Intruptions to your manufacturing proccess
    </li>
    <li>
      Eliminates Instrument down time and the need for spares
    </li>
    <li>
      No question as to where your instruments are or when they will be return
    </li>
    <li>
      Our calibrations technicians are available to answer your questions imidiately
    </li>
    <li>
      You can have all of your callibration services done at once and shedule them through out the year
    </li>
  </ul>

  {% endblock %}