{% extends 'basic.html' %}

{% block title %}Services Overview{% endblock %}
{% block css %}

{% endblock %}
{% block body %} 
<h1 class="text-center mx-5" >Calibration</h1>
<div class="display-inline">
<h3 class="mx-2">RAES Provide Process Instruments Calibration Services</h3>
<div class="row">
<div class="col">
<ul>
    <li>Pressure Gauge</li>
    <li>Thermometer</li>
    <li>Pressure Transmitter</li>
    <li> Pressure Conbroller</li>
    <li>Pressure Control Valve</li>
    <li>  Temperature Gauge</li>
</ul>
</div>
<div class="col">
<ul>
    <li>Temperature Transmitter</li>
    <li>Temperature Controller</li>
    <li>Temperature Control Valve Mag Flow meter</li>
    <li>Level Trolls</li>
    <li>Flow Indicator</li>
    <Li>Flow Transmitter</Li>
</ul>
</div>
<div class="col" ">
<ul>
<li>Tank</li>
<li>Thermostat</li>
<li>Flow Controller</li>
<li>Level Gauge</li>
<li>Level Transmitter</li>
<li>Manufacturing of instruments</li>
</ul>
</div>
</div>
<br>
<br>

{% endblock %}