{% extends 'basic.html' %}

{% block title %}Product & sale{% endblock %}

{% block body %} 

<h1 class="text-center mx-5">Product & Sale</h1>

<ul class="mx-2">
    <li>RAES offers from its stocks the following range of process
    measuring instrumentabon:</li>
    <li>Pressure Temperature dials Gauges.</li>
    <li>All type of Control valves, Positioners, 1/P converters, P/I
    converters, PRVs, Gas/Air regulators & Air filters.</li>
    <li>Al type of pneumatic pressure, Temperature, Flow Transmitters, Controller Recorders.</li>
    <li>DCE Supply and Install Following Instrument Hardware
    Material Like Cable Trays Valves and Tithe Fittings, Junction
    Boxes and Cable Gland, S.S Tubes and Pipes, Cables</li>
    <li>Flame Safe Guard System, Programmers, mode motors,
    pressure switches & Steam Solution.</li>
    <li>All type of digital temperature, pressure, flow & level
    indicators Controllers.</li>
    </ul>
{% endblock %}