{% extends 'basic.html' %}

{% block title %}Services Overview{% endblock %}

{% block body %} 
<h1 class="text-center mx-5" >Overview</h1>
<div class="row">
    <div class="col">
        <h2>Services:</h2>
        <br>
<ul class="mx-2">
    <li>Verification Services & Calibration</li>
    <li>Service & Maintenance Contracts</li>
    <li>Servicing of instruments & Repairing</li>
    <li>Engineering and Design of Instrument control systems and panels</li>
    <li>Turnkey solutions for Flow, Level,Pressure,and Temperature related problems
    <li>Design of PLC based control equipment and microprocessor</li>
    <li> Software and Web Development </li>
</ul>
</div>
<div class="col">
<h2 class="mx-5">Solutions:</h2><br>
<ul class="mx-2">
    <li>Supply of Calibration, Test, and Measuring
    equipment</li>
    <li>Design, Installation, Commissioning of instrumentation control pannel</li>
    <li>installation Supply, and commissioning of process control equipment</li>
    <li>Installation, Design,, Commissioning of LTX.</li>
    <li>Manufacturing of instruments</li>
    <li>Software &Web solutions for Engineering</li>
</ul>
</div>
</div>
</div>
{% endblock %}