{% extends 'basic.html' %}

{% block title %}Verification services{% endblock %}

{% block body %} 
<h1 class="text-center mx-5" >Verification Services</h1><br>
<h3 class="mx-5">RAES Provide Verification Services</h3>
<div class="row">
    <div class="col">
<ul class="mx-2">
    <li>  Digital Clamp Meter</li>
    <li>Digital Counter Meter</li>
    <li>Humidity Meter</li>
    <li>Volt Meter</li>
    <li>Electronic Weighing Scale</li>
    <li>Centrifuge Machine</li>

</ul>
</div>
<div class="col">
<ul class="mx-2">
    <li>Blood Pressure Apparatust</li>
    <li>Freezer</li>
    <li>Hose Pipe</li>
    <li>Water Bath</li>
    <li>Manufacturing of instruments</li>
    <li>Burette & Beaker</li>
    <li>Process Recorder & Tank</li> 
</ul>
</div>
</div>
{% endblock %}